* {
  font-family: 'Open Sans', sans-serif;
  color: 	rgba(54, 69, 79, 1.0);
  box-sizing: 10px;
}
/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  margin: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  border: 0px;
  float: right;
  width: 30%;
  background: #f1f1f1;
  border-radius: 40px;
}

/* Style the submit button */
form.example button {
  float: right;
  width: inherit;
  padding: 0px;
  background: rgba(84, 99, 39, 1.0);
  color: white;
  font-size: 17px;
  border-left: none; /* Prevent double borders */
  cursor: progress;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
h1 {
  font-size: 200%;
  padding: 3% 30% 3% 0%;
}
h2 {
  font-size: 190%;
  padding: 0% 30% 0% 0%;
}
h3 {
  font-size: 120%;
  padding: 0% 30% 0% 0%;
}
p {
  color: rgba(67, 86, 98, 1.0);
  padding: 3% 20% 3% 5%;
  font-size: 120%;
}
#one {
  padding: 3% 35% 3% 5%;
}
#two {
  padding: 3% 38% 3% 5%;
}
#three {
  padding: 3% 38% 3% 5%;
}
#four {
  padding: 3% 35% 3% 5%;
}

.wine_btn {
  display: inline-block;
}

.wine_btn_img {
  width: 100%;
  height: auto;
}

#fish {
  height: 60px;
  width: 80px;
  padding: 13px 5px;
  /*margin: 10px 300px 40px 40px;*/
  float:right;
  transition: 0.6s;
  border: 4px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px grey;
}
#fish:hover {
  box-shadow: 3px 3px 3px 3px grey;
  transform: scale(1.1);
  background-color: white;
}
#cow {
  display: inline-block;
  height: 80px;
  width: 80px;
  padding: 3px 10px;
  /*margin: 10px 10px 60px 60px;*/
  float: left;
  transition: 0.6s;
  border: 4px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px grey;
  background-color: white;
}
#cow:hover {
  box-shadow: 3px 3px 3px 3px grey;
  transform: scale(1.1);
  background-color: white;
}
#chicken {
  display: inline-block;
  height: 50px;
  width: 70px;
  padding: 18px 10px;
  /*margin: 10px 10px 60px 60px;*/
  float: right;
  transition: 0.6s;
  border: 4px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px grey;
}
#chicken:hover {
  box-shadow: 3px 3px 3px 3px grey;
  transform: scale(1.1);
  background-color: white;
}
#veggie {
  display: inline-block;
  height: 50px;
  width: 70px;
  padding: 18px 10px;
  /*margin: 10px 10px 60px 60px;*/
  float: right;
  transition: 0.6s;
  border: 4px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px grey;
}
#veggie:hover {
  box-shadow: 3px 3px 3px 3px grey;
  transform: scale(1.1);
  background-color: white;
  .container {
    display: inline-block;
    cursor: pointer;
}
img#cowImage {
  max-width: 80px;
  width: 80px;
}
