* {
  font-family: 'Open Sans', sans-serif;
  color: 	rgba(54, 69, 79, 1.0);
  margin: auto;
}
body {
  background-color: #f4f4f4;
}
form.example input[type=text] {
  padding: 10px;
  margin: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  border: 0px;
  float: right;
  width: 30%;
  background: #f1f1f1;
  border-radius: 40px;
}
form.example button {
  float: right;
  width: inherit;
  padding: 0px;
  background: rgba(84, 99, 39, 1.0);
  color: white;
  font-size: 17px;
  border-left: none;
  cursor: pointer;
}
form.example button:hover {
  background: #0b7dda;
}
form.example::after {
  content: "";
  clear: both;
  display: table;
}
.first_bar {
  position: relative;
  font-size: 11px;
  margin: 0px 0px 0px 0px;
  height: 80px;
  color: #173f35;
  text-align: center;
  background-color: rgb(160,160,160);
  z-index: auto;
}
#choices {
  float: none;
}
.foot_bar {
  position: relative;
  font-size: 11px;
  margin: 0px 0px 0px 0px;
  height: 80px;
  color: #173f35;
  text-align: center;
  background-color: rgb(160,160,160);
  z-index: auto;
  padding: 2%;
  bottom: 0;
}
h1 {
  font-size: 300%;
  font-weight: bold;
  left: 30px;
  padding: 3% 30% 3% 0%;
  background-color: transparent;
  color: rgba(80, 80, 80, 1);
}
.red {
  color: white;
}
.red_text {
  position: relative;
  left: 4%;
  top: 5%;
}
.white_text {
  position: relative;
  left: 3%;
  top: 10%;
}
h2 {
  font-size: 290%;
  font-weight: bold;
  padding: 0% 30% 0% 0%;
  background-color: transparent;
  color: rgba(80, 80, 80, 1);
}
h3 {
  font-size: 120%;
  padding: 0% 30% 0% 0%;
  background-color: white;
}
p {
  color: rgba(67, 86, 98, 1.0);
  background-color: white;
  padding: 3% 0% 3% 0%;
  font-size: 120%;
}
.button_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 580px;
  margin: 20px auto;
}
.social_container {
  justify-content: space-between;
  max-width: 300px;
  padding: 2%;
}
.wine_btn {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 80px;
  width: 80px;
  height: 80px;
  margin: 0px 0px 0px 0px;
  transition: 0.6s;
  border: 4px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px grey;
}
.wine_btn:hover {
  box-shadow: 3px 3px 3px 3px grey;
  transform: scale(1.1);
  background-color: white;
}
.wine_btn_img {
  width: 100%;
  height: auto;
  background-color: white;
  margin: 0;
}

#fish {
  padding: 0px 10px;
  height: 100px;
  margin: 10px;
  display: flex;
}
#cow {
  padding: 0px 10px;
  height: 100px;
  margin: 10px;
  display: flex;
}
#chicken {
  padding: 0px 10px;
  height: 100px;
  margin: 10px;
  display: flex;
}
#veggie {
  padding: 0px 10px;
  height: 100px;
  margin: 10px;
  display: flex;
}
@media (max-width: 400px) {
  .button_container {
    flex-wrap: wrap;
    max-width: 200px;
  }
}
.description {
  padding: 40px;
  margin: 20px 500px 40px 80px;
  background-color: white;
  text-align: left;
}
.eyes_nose_mouth {
  padding: 40px;
  margin: 20px 80px 40px 270px;
  background-color: white;
  text-align: left;
}
.trying_with {
  padding: 40px;
  margin: 20px 220px 40px 80px;
  background-color: white;
  text-align: left;
}
.head_image {
  background-image: url(../images/wineHome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin-top: 20px;
  background-color: white;
}
.head_image h1 {
  color: rgba(255, 255, 255, 1);
  font-family: 'Lato', sans-serif;
  font-size: 400%;
}
.head_image h2 {
  color: rgba(255, 255, 255, 1);
  font-family: 'Lato', sans-serif;
  font-size: 300%;
}
.head_image_red {
  background-image: url(../images/Wino.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  background-color: white;
}
.head_image_white {
  background-image: url(../images/whiteWine.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  background-color: white;
  text-align: left;
}
.fa {
  text-align: center;
  text-decoration: none;
  border-radius: 30%;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  max-width: 100px;
  cursor: pointer;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: rgb(240, 92, 121);
  color: white;
}
#facebook {
  font-size: 20px;
  padding: 2.5% 4% 2.5% 4%;
  margin: 1% 1% 1% 1%;
}
#twitter {
  font-size: 20px;
  padding: 2.5%;
  margin: 1% 1% 1% 1%;
}
#instagram {
  font-size: 20px;
  padding: 2.5% 3% 2.5% 3%;
  margin: 1% 1% 1% 1%;
}
#title_wrap {
  padding: 0;
  margin: 0;
  background-color: transparent;
  position: relative;
  left: 4%;
  top: 3%;
  text-shadow: 80;
}
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}


.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}


.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
.change .dropdown-content {
  visibility: visible;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  width: 200px;
  background-color: #f4f4f4;
  text-align: center;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: rgb(105,105,105);
  color: white;
  font-weight: bold;
  text-decoration: none;
}


/* Dropdown Button */
.dropbtn {
  position: right;
  background-color: rgb(160,160,160);
  color: transparent;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(160,160,160);
  outline: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  top: 15%;
  left: 40%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 10%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-size: 15px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(128,128,128);
  color: rgb(232,232,232);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#home_button_wrapper {
  position: relative;
  top: 10%;
  right: 42%;
  text-decoration: none;
}

#home_button {
  background-color: rgb(160,160,160);
  font-size: 400%;
  border: none;
  outline: none;
  cursor: pointer;
}
.fa-home {
  background-color: rgb(160,160,160);
  color: #333;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
#tell_us {
  text-align: center;
  padding: 5% 10% 5% 10%;
  margin: 3% 10% 2% 10%;
  background-color: transparent;
  font-size: 200%;
  font-weight: bolder;
}
#tell_you {
  text-align: center;
  padding: 5% 10% 5% 10%;
  margin: 3% 10% 0% 10%;
  background-color: transparent;
  font-size: 200%;
  font-weight: bolder;
}
#second_row {
  padding: 0% 2% 0% 2%;
  margin: 20px 120px 80px 120px;
  background-color: rgb(255, 254, 250);
  text-align: left;
}

@media only screen and (max-width: 600px){
  #second_row {
    width: 80%;
    margin: auto;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid-wine {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
